.btn2 {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: rgb(105, 103, 103);
    color: white;
    cursor: pointer;
}

.btn2:hover {
    background-color: rgb(47, 47, 47);
}